*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background-color 0.2s ease;
}

:root {
	font-family: interface, sans-serif;
	font-size: var(--fs-regular);
	user-select: none;
	-webkit-user-select: none;

	--fs-tiny: 12px;
	--fs-small: 14px;
	--fs-regular: 16px;
	--fs-medium: 24px;
	--fs-large: 32px;
	--fs-huge: 45px;

	--game-width: 500px;
    --header-height: 70px;

	--fg-primary: #ffffff;
	--fg-secondary: #818384;
	--icon-color: var(--fg-primary);
	--border-primary: #3a3a3c;
	--border-secondary: #272729;
	--bg-tertiary: #1a1a1b;
	--bg-secondary: #1a1a1b;
	--bg-primary: #000000;
	
    --color-lime: rgb(195,240,0);
    --color-mint: rgb(0,212,140);
	--color-present: #b59f3b;
	--color-correct: #538d4e;
	--color-absent: var(--border-primary);
	--evaluated-key-color: var(--fg-primary);
	--key-bg: var(--fg-secondary);
    --logo-invert: invert(100%);

    --tile-font: interface, sans-serif;
}
html {
    height: 100%;
}
body { 
    height: 100%; 
	background: var(--bg-primary);
	color: var(--fg-primary);
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.light {
	--fg-primary: #1a1a1b;
	--fg-secondary: #787c7e;
	--icon-color: var(--fg-primary);
	--border-primary: #d3d6da;
	--border-secondary: var(--border-primary);
	--bg-tertiary: #ffffff;
	--bg-secondary: #e0e0e0;
	--bg-primary: #ffffff;

	--color-present: #d9b418;
	--color-correct: #3a9934;
    --color-absent: var(--fg-secondary);
	--evaluated-key-color: var(--bg-primary);
	--key-bg: var(--border-primary);
    --logo-invert: invert(0%);
    
}

.colorblind {
	--color-correct: #f5793a;
	--color-present: #85c0f9;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
    font-size: var(--fs-medium);
    letter-spacing: 1px;
}
.absent,
.present,
.correct {
	color: var(--evaluated-key-color);
}
a:link,
a:visited {
	color: inherit;
}
 .ssbc-button {
    border-radius: 13px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
@media (max-width: 700px) { 
    :root {
        --header-height: 90px;
    }
}